@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* font-family: "Quicksand", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.container {
  position: relative;
  max-width: 600px;
  height: 100vh;
  background-color: #bcfdef;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.header .penger {
  display: flex;
  align-items: center;
}
.header .penger img {
  width: 78px;
}
.header i {
  font-size: 50px;
}
.main .navn {
  margin: 20px 0;
}
.main input {
  width: 70%;
  display: block;
  margin: auto;
  font-size: 34px;
  border: 1px solid black;
  border-radius: 5px;
}
#kanin {
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 63px;
}
#gress {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  height: 310px;
}
#info {
  display: none;
  background-color: #8be5d1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#info h1 {
  text-align: center;
  padding: 20px 10px 50px;
  font-size: 60px;
}
#info i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 50px;
}
#info p {
  padding: 20px 30px;
}
#info.show {
  display: block;
}

.venstre {
  position: absolute;
  left: 0;
  bottom: 400px;
}
.hoyre {
  position: absolute;
  right: 0;
  bottom: 200px;
}

.venstre div,
.hoyre div {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin: 20px 0;
}
